.CreateUserImg {
    width: 100%;
    height: 50px;
    object-fit: cover
}

.formCreateUser {
    width: 85%;
    margin: auto
}

@media screen and (min-width: 1030px) {
    .createUserContent {
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .CreateUserImg {
        display: none;
    }
    .CreateUserContainer {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row-reverse;
    }
    .BackgroundWeb {
        width: 60%;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(117,70,138,1) 0%, rgba(117,70,138,0) 100%, rgba(255,255,255,1) 100%), url('../../assets/images/appBackground.jpg');
        background-size: cover;
    } 
}